<img src={{images[99].image_url}} />
<p>{{images[99].product_name}}</p>
<p>{{images[99].brands}}</p>
<p>{{images[99].ingredients_text}}</p>
<p>{{images[99].nova_group}}</p>
<p>{{images[99].nutrition_grade_fr}}</p>

<img src={{images[98].image_url}} />
<p>{{images[98].product_name}}</p>
<p>{{images[98].brands}}</p>
<p>{{images[98].ingredients_text}}</p>
<p>{{images[98].nova_group}}</p>
<p>{{images[98].nutrition_grade_fr}}</p>


<div *ngFor="let current of images">
    <h1>{{current.product_name}}</h1>
</div>

