<div id="candy-dex-background">
<div class="container-fluid">
    <div class="row navToggle d-flex">
        <div class="font-title candyPage candy-dex-toggle" (click)="clickEvent('candy')">Bonbons</div>
        <div class="font-title successPage candy-dex-toggle" (click)="clickEvent('success')">Succès</div>
        <div id="candy-dex-icone-container"><div id="candy-dex-icone" (click)="goToSearchFromDex()"></div>
    </div>
</div>

<div id="successTab" class="listPage container-fluid hidden">
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Niveaux</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of levelList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description'></app-success>
        </div>
    </div>
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Bonus</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of hunterList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description'></app-success>
        </div>
    </div>
</div>

<div id="candyTab">
    <div class="row candyClass justify-content-center">
        <div class="candyBox col-3 p-0" *ngFor='let current of candyList'>
            <app-my-candy [name]='current.name' [img]='current.url_img' [counter]='current.nbCandies' [description]='current.description'></app-my-candy>
        </div>
    </div>
</div>
</div>