<div id="success-pop-up-container" class="hidden-page">
    <div id="success-popup-container-container">
        <div id="success-popup-container">
                    
                <div id="success-popup">
                    <div id="success-popup-cross-container"><div id="success-popup-cross" (click)="hideSuccesPopUp()"></div></div>
                    <div id="success-pop-up-picture" [ngStyle]="{'background-image': 'url('+CurrentBadge.img+')'}"></div>
                    <div id="success-popup-text">
                        <div id="success-popup-name" class="font-title">{{CurrentBadge.name}}</div>
                        <div id="success-popup-description" class="font-small-text">{{CurrentBadge.description}}</div>
                </div>         
            </div>
        </div>
    </div>
</div>
<!------------------------------------- Pop-up ---------------------------------------->

<div id="candy-popup-container" class="hidden">
    <div id="candy-popup">
        <div id="candy-popup-cross-container"><div id="candy-popup-cross" (click)="popUpCandy()"></div></div>
        <div id="candy-pop-up-picture" [ngStyle]="{'background-image': 'url('+currentCandyList.img+')'}"></div>
        <div id="candy-pop-up-name" class="font-text">Nom : {{currentCandyList.name}}</div>
        <div id="candy-pop-up-name" class="font-small-text">J'en ai {{currentCandyList.counter}}</div>
    </div>
</div>


<!------------------------------------- NavTab --------------------------------------------->

<div id="candy-dex-background">
<div class="container-fluid">
    <div class="row navToggle d-flex">
        <div class="font-title candyPage candy-dex-toggle" (click)="clickEvent('candy')">Bonbons</div>
        <div class="font-title successPage candy-dex-toggle" (click)="clickEvent('success')">Succès</div>
        <div id="candy-dex-icone-container"><div id="candy-dex-icone" (click)="goToSearchFromDex()"></div>
    </div>
</div>

<!-------------------------------------- Success ----------------------------------------->

<div id="successTab" class="listPage container-fluid hidden">
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Niveaux</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of levelList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description' (click)="showSuccesPopUp()" (click)="giveValues(current.name, current.img, current.description)"></app-success>
        </div>
    </div>
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Bonus</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of hunterList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description' (click)="showSuccesPopUp()" (click)="giveValues(current.name, current.img, current.description)"></app-success>
        </div>
    </div>
</div>

<!--------------------------------------- Candies ----------------------------------------->

<div id="candyTab">
    <div class="row candyClass justify-content-around">
        <div class="candyBox col-3 p-0" *ngFor='let current of candyList' (click)="popUpCandyInfo(current.name, current.url_img, current.id, current.nbCandies, current.generic, current.brands, current.countries, current.stores, current.quantity)" (click)="popUpCandy()">
            <app-my-candy [name]='current.name' [img]='current.url_img' [counter]='current.nbCandies' [description]='current.description'></app-my-candy>
        </div>
    </div>
</div>
</div>