
.candyPage{
    background-color:  #131129;
}

.successPage{
    background-color: #188F55;
}

.navToggle{
    text-align: center;
    height: 10vh;
}

.successClass{
    height: 45vh
}

.candyClass{
    padding: 5vh 3vh;
    overflow: scroll;
}

.badgeBox{
    margin: 0 1vh;
}

.candyBox{
    margin: 0 1vh;
    height: 28vh;
}

h3{
    margin-top: 2vh;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}

.hidden{
    display: none;
}

.candy-dex-toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    width:35%;
}
#candy-dex-background{
    background:#131129;
    overflow: hidden;
    transition:1.5s;
    height: 100vh;
}

#candy-dex-icone-container{
    width: 30%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#candy-dex-icone{
    height: 7vh;
    transition:0.5s;
}
#candy-dex-icone:active{
    opacity:0.7;
    transition:0.5s;
}

.badgeBox:active, .candyBox:active{
    transform: scale(0.98);
}

/******************************* Pop-up Candy ***************************************/

#candy-popup-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#candy-popup{
    width: 80%;
    height: 90vh;
    background: #1F1D2F;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* overflow: auto; */
    padding: 7%;
    margin: 5vh;
}

#candy-popup-cross-container{
    width: 100%;
    height: 5vw;
    /* display: flex;
    flex-direction: row-reverse; */
}

#candy-popup-cross{
    width: 8%;
    height: 100%;
    background-image:url(../../assets/pop_up_cross.png);
    background-size: 100%;
    background-position: center;
}

#candy-pop-up-picture{
    width: 35vh;
    height: 35vH;
    border-radius: 50%;
    border: solid #fff 2px;
}

img{
    width:100%;
    height: 40vw;
}


#candy-pop-up-name{
    margin-top:2vh;
}

#candy-pop-up-text{
    text-align: justify;
    margin-top: 4vh;
.candyBox:active{
    transform: scale(0.98);
}