<!------------------------------------- Pop-up ---------------------------------------->

<div id="list-popup-container" class="hidden">
    <div id="list-popup">
        <div id="list-popup-cross-container"><div id="list-popup-cross" (click)="popUpCandy()"></div></div>
        <div id="list-pop-up-picture" [ngStyle]="{'background-image': 'url('+img+')'}"></div>
        <div id="list-pop-up-name" class="font-text">Nom : {{currentCandy.name}}</div>
        <div id="list-pop-up-name" class="font-small-text">Code barre : {{id}}</div>
        <div id="list-pop-up-name" class="font-small-text">J'en ai {{currentCandy.counter}}</div>
        <div id="list-pop-up-text" class="font-small-text">Description : Aussi appelé {{generic}}, ce
            bonbon est fabriqué par {{brands}}. On le trouve principalement en {{countries}}. 
            Il est le plus souvent commercialisé chez {{stores}} en sachet de {{quantity}}.</div>
    </div>
</div>


<!------------------------------------- NavTab --------------------------------------------->

<div id="candy-dex-background">
<div class="container-fluid">
    <div class="row navToggle d-flex">
        <div class="font-title candyPage candy-dex-toggle" (click)="clickEvent('candy')">Bonbons</div>
        <div class="font-title successPage candy-dex-toggle" (click)="clickEvent('success')">Succès</div>
        <div id="candy-dex-icone-container"><div id="candy-dex-icone" (click)="goToSearchFromDex()"></div>
    </div>
</div>

<!-------------------------------------- Success ----------------------------------------->

<div id="successTab" class="listPage container-fluid hidden">
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Niveaux</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of levelList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description'></app-success>
        </div>
    </div>
    <div class="row successClass justify-content-center">
        <h3 class="col-9 font-title">Bonus</h3>
        <div class="badgeBox col-3 p-0" *ngFor='let current of hunterList'>
            <app-success [name]='current.name' [img]='current.img' [description]='current.description'></app-success>
        </div>
    </div>
</div>

<!--------------------------------------- Candies ----------------------------------------->

<div id="candyTab">
    <div class="row candyClass justify-content-around">
        <div class="candyBox col-3 p-0" *ngFor='let current of candyList' (click)="CandyInfo(current)" (click)="popUpCandy()">
            <app-my-candy [name]='current.name' [img]='current.url_img' [counter]='current.nbCandies' [description]='current.description'></app-my-candy>
        </div>
    </div>
</div>
</div>