<div id="search-background">
  <div id="search-topbar">
    <div id="search-icone-list" class="search-icone"></div>
    <div id="search-icone-map" class="search-icone"></div>
  </div>
  <div id="search-welcome">
    <p class="font-title">Bounty Hunter</p>
  </div>
  <div id="search-research">
    <label class="font-text">Un bonbon ou la vie ?</label>
    <input id="search-input" placeholder="Un bonbon !!!" [(ngModel)]="searchWord"/>
    <button id="search-button" (click)="goToList()" class="font-text">Rechercher</button>
  </div>
</div>
