<div id="search-background">
  <div id="search-topbar">
    <div id="search-icone-list" (click)="moveToSuccess()" class="search-icone"></div>
    <div id="search-icone-map" (click)="moveToMap()" class="search-icone"></div>
  </div>
  <div id="search-welcome">
    <p class="font-big-title">Booouhnty Hunter</p>
    <p class="font-small-text">Avec Bounty Hunter tu peux lister tous tes bonbons récoltés lors de la nuit d'Haloween.<br/>Effrayant non ?</p>
  </div>
  <div id="search-research">
    <label class="font-text">Un bonbon ou la vie ?</label>
    <input id="search-input" placeholder="Mon bonbon ..." [(ngModel)]="searchWord" class="font-text"/>
    <button id="search-button" (click)="goToList()" class="font-small-text">Rechercher</button>
  </div>
</div>
<app-list id="app-list" class="hidden-page" [searchWord]="searchWord"></app-list>

