#search-background{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/fond_research.png);
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* Topbar */
#search-topbar{
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.search-icone{
    width: 20%;
    height: 100%;
    margin-top:5vh;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.search-icone:active{
    opacity:0.7;
    transition: 0.5s;
}
.search-icone:hover{
    cursor: pointer;
}
#search-icone-list{
    background-image: url(../../assets/icone_pumpkin.png);
    background-size: 100%;
}
#search-icone-map{
    background-image: url(../../assets/icone_map.png);
    background-size: 70%;
}
/* Message d'accueil */
#search-welcome{
    margin-top:10vh;
    width: 60%;
    text-align: center;
}
#search-welcome > .font-small-text {
    margin-top: 5vh;
    font-size: 0.9em;
}

/* Recherche */
#search-research{
    margin-top:2vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#search-input{
    width:100%;
    height: 7vh;
    margin-top:1vh;
    margin-bottom:3vh;
    border:none;
    padding-left:7%;
    padding-right:7%;
    color:#151437;
}
#search-input::placeholder{
    color:#ADAAC6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
}
#search-input:focus{
    outline: none;
}
#search-button{
    width:100%;
    border: solid #fff 1px;
    background: none;
    padding: 2vh;
}
#search-button:active{
    opacity:0.7;
}
#search-button:focus{
    outline:none;
}