#window{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}



#all-pages{
    margin:0;
    display: flex;
    flex-direction: row;
    width:300%;
    margin-left:-100%;
    transition:1.5s;
    transition-timing-function: ease-in-out;
}
#app-search-list{
    width:33.33%;
}

#app-succes{
    width:33.33%;
    height: 100vh;
}
#fake-succes{
    width: 100%;
    height: 100vh;
    background: #1F1C37;
}


#app-map{
    width:33.33%;
    height: 100vh;
}
#map{
    width: 100%;
    height: 100vh;
    background: #1F1C37;
}
/* map icone */
#map-icone-container{
    position: relative;
    
}
#map-icone-position{
    position: absolute;
    width: 16%;
    height: 16vw;
    margin-left:17%;
    margin-top:3vh;
    background: #f9821f;
    border-radius:50%;
    background-image:url("../assets/icone_list.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    
    z-index: 999;
}
