/* Pop-up */
#success-popup-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#success-popup{
    width: 80%;
    height: 70vh;
    background: #1F1D2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* cross */
#success-popup-cross-container{
    width:80%;
    height: 5vw;
    display: flex;
    flex-direction: row-reverse;
}
#success-popup-cross{
    width: 8%;
    height: 100%;
    background-image:url(../../assets/pop_up_cross.png);
    background-size: 100%;
    background-position: center;
}


#success-pop-up-picture{
    width:50%;
    height: 40vw;
    background-size:100%;
    background-position: center;
}
#success-pop-up-name{
    margin-top:2vh;
}
#success-pop-up-number{
    margin-top:2vh;
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
}
#success-pop-up-arrows{
    width: 20%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.success-pop-up-arrow{
    height: 40%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#success-pop-up-button{
    margin-top:4vh;
    width: 70%;
    padding:2vh;
    border:solid #fff 1px;
    background: none;
}
#success-pop-up-button:focus{
    outline: none;
}
#success-pop-up-button:active{
    opacity: 0.7;
}
#success-cnady-number{
    font-size: 1em;
}