.candyInfo{
    margin-top: 1vh;
}

.candy{
    width: 100%;
    text-align: center;
}

.candy > p{
    /* position: absolute;
    left: 70%;
    top:7vh; */
}

.candy-box{
    margin-bottom : 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.candy-box:active {
    transform:scale(0.98);
}
.candy-box p {
    position: absolute;
    left: 65%;
    top:7vh;
    background-color: rgba(0, 0, 0, 0.7);
    width: 3.5vh;
    height: 3.5vh;
    border-radius:50%;

}

#candy-box-img{
    width: 13vh;
    height: 13vh;
    border-radius:50%;
    border:solid #fff 2px;
    background-size:100%;
    background-position: center;
    margin-bottom:1vh;
}